rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function ownsChat(userId) {
      return request.auth != null && (
        request.auth.uid == userId ||
        (
          exists(/databases/$(database)/documents/users/$(userId)) &&
          'firebase_uids' in get(/databases/$(database)/documents/users/$(userId)).data &&
          request.auth.uid in get(/databases/$(database)/documents/users/$(userId)).data.firebase_uids
        )
      );
    }

    match /users/{userId}/chats/{document=**} {
      allow read, write: if ownsChat(userId);
    }

    match /users/{userId}/chat_settings/{document=**} {
      allow read, write: if ownsChat(userId);
    }
  }
}
